{% extends 'index.html' %}
{% load static %}
{% block body %}
	<div class="w3l_banner_info">
		<div class="slider1">
			<div class="callbacks_container">
				<ul class="rslides" id="slider3">
					<li>
						<div class="slider1-img" style="height:90px ; background:black">
							<div class="slider_banner_info">
								
							</div>
						</div>
					</li>
					
					
				</ul>
			</div>
		</div>
	</div>
	<!-- //banner-slider -->
</div>
</header>


<section class="about py-lg-5 py-md-4 py-md-3 py-2" id="about" style="background : black ; color:white">
<div class="about py-lg-5 py-md-4 py-md-3 py-2">
<div class="container">
<h3 class="mb-lg-4 mb-md-3 mb-sm-2 mb-2" style="color:white">ABOUT US</h3><iframe style="height:0"></iframe>
<div class="row">
<div class="col-md-6 com-sm-6 w3three_al1">
<h4 class="mb-lg-4 mb-md-3 mb-sm-2 mb-2">Take A Look About Our Company</h4>
<p class="mb-lg-4 mb-md-3 mb-sm-2 mb-2" style="text-align:justify;">Local Service, a specialized platform, is dedicated to improving the
accessibility and convenience of hiring skilled professionals for specific
trades such as plumbing, electrical work, carpentry, welding, painting,
and general home repair services in your local vicinity. This project aims
to simplify the process of locating and engaging with these essential
trade services, ensuring that you can easily and efficiently address your
home or business needs. It functions as a virtual marketplace,
connecting you with the right professionals for the job, streamlining the
hiring process, and providing a convenient solution for both service
seekers and providers.
</p>
<a href="#">Read More</a>
</div>
<div class="col-md-6 com-sm-6 w3three_al">
<img src="images/ab.jpg" alt="" class="img-fluid">
</div>
</div>
<div class="w3_acd">

</div>
</section>



{% endblock %}

