{% extends 'index.html' %}
{% load static %}
{% block body %}
<div class="w3l_banner_info" style="background:black">
		<div class="slider">
			<div class="callbacks_container">
				<ul class="rslides" id="slider3">
					<li>
						<div class="slider-img" style="background:black">
							<div class="slider_banner_info">
							<div class="text">
								  <h3 class="" style="color:white;font-size:40px;margin-bottom : 20px">The Best Home Service To Make Your House Shine Is Us
</h3><br><br><br>
								</div>

							</div>
						</div>
					</li>
					
				</ul>
			</div>
		</div>
	</div>
	<!-- //banner-slider -->
</div>

{% endblock %}